{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "AzureOpenAI": {
    "ProjectEndpoint": "Your project endpoint",
    "Deployment": "gpt-4.1-1",
    "SkipKnowledgeBaseSetup": true,
    "SkipEvaluationDatasetSetup": false,
    "ProxyEvaluationDatasetFile": "evaluation_dataset_20260426192805"
  }
}
